@import 'tailwindcss';

:root {
  --background: hsl(220 20% 97%);
  --foreground: hsl(220 25% 10%);

  --primary: hsl(211, 100%, 50%);
  --primary-foreground: hsl(0, 0%, 100%);
}

.dark {
  --background: hsl(227, 29%, 6%);
  --foreground: hsl(210, 20%, 92%);

  --primary: hsl(210, 100%, 52%);
  --primary-foreground: hsl(0, 0%, 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
